.containerHover {
    display: inline-block;
    cursor: pointer;
    color: #A591C6;
    transition: 0.4;

    &:hover {
        color: #e9dbff;
    }
}

.container {
    display: inline-block;
    cursor: pointer;
    color: #A591C6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media only screen and (max-width: 800px) {

    .container,
    .label {
        font-size: 14px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1199px) {
    .container,
    .label {
        font-size: 15px;
    }
}


@media only screen and (min-width: 1200px) {

    .container,
    .label {
        font-size: 16px;
    }
}