.container {
    display: flex;
    align-items: center;
    padding: 20px 100px;
    justify-content: space-between;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;

    a {
        text-decoration: none;
        font-style: normal;
        color: inherit;
        cursor: pointer;
    }
}