.btn {
  background: transparent;
  color: #FFFFFF;
  border: none;
  outline: none;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
  position: relative;
  transition: 0.2s ease-in;
  top: 0;

  &:hover {
    top: -8px;
    border-bottom: 8px solid rgb(255, 255, 145);
  }

  &:active {
    top: 5px;
    border-bottom: 2px solid #FFFFFF;
    background: rgb(255, 255, 145);
    color: black;

    path {
      fill: black;
    }
  }
}

@media only screen and (max-width: 800px) {
  .btn {
    font-size: 16px;
    border-radius: 18px;
    border: 2px solid #FFFFFF;
    padding: 5px 12px;
  
    &:hover {
      top: -4px;
      border-bottom: 6px solid rgb(255, 255, 145);
    }
  
    &:active {
      top: 3px;
      border-bottom: 2px solid #FFFFFF;
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 1199px) {
  .btn {
    font-size: 18px;
    border-radius: 18px;
    border: 2px solid #FFFFFF;
    padding: 7px 14px;
  
    &:hover {
      top: -4px;
      border-bottom: 6px solid rgb(255, 255, 145);
    }
  
    &:active {
      top: 3px;
      border-bottom: 2px solid #FFFFFF;
    }
  }
}


@media only screen and (min-width: 1200px) {
  .btn {
    font-size: 18px;
    border-radius: 18px;
    border: 2px solid #FFFFFF;
    padding: 7px 16px;
  
    &:hover {
      top: -4px;
      border-bottom: 6px solid rgb(255, 255, 145);
    }
  
    &:active {
      top: 3px;
      border-bottom: 2px solid #FFFFFF;
    }
  }
}