.btn {
  background: transparent;
  color: #FFFFFF;
  border: none;
  outline: none;
  font-size: 24px;
  border-radius: 18px;
  border: 2px solid #FFFFFF;
  padding: 7px 16px;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
  position: relative;
  transition: 0.2s ease-in;
  top: 0px;

  &:hover {
    top: -8px;
    border-bottom: 8px solid rgb(255, 255, 145);
  }

  &:active {
    top: 5px;
    border-bottom: 2px solid #FFFFFF;
    background: rgb(255, 255, 145);
    color: black;

    path {
      fill: black;
    }
  }
}