.btn {
    background: transparent;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 24px;
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    padding: 15px 10px;
    cursor: pointer;
}