.container {
    display: flex;
    width: 960px;
    border-radius: 28px;
    padding: 28px 60px;
    position: relative;
    overflow: hidden;
}

.left {
    flex: 1;
    z-index: 10;
}

.right {
    flex: 0.8;
}

.header {
    font-size: 18px;
}

.title {
    margin-top: 16px;
    font-size: 25px;
    font-weight: bold;
}

.summary {
    margin-top: 16px;
    font-size: 18px;
}

.actionBtn {
    margin-top: 40px;
}

.highlight {
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    z-index: 1;
    top: -120px;
    left: -80px;

}
