.container {
    display: flex;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}

.left {
    flex: 1;
    z-index: 10;
}

.right {
    flex: 1;
    text-align: center;
    z-index: 2;
}

.highlight {
    position: absolute;
    border-radius: 100%;
    z-index: 1;
    animation: drift 10s infinite reverse;

    @keyframes drift {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.5);
        }

        100% {
            transform: scale(1);
        }
    }

}

.outerWrapper {
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.summary {
    flex: 1;
}


@media only screen and (max-width: 800px) {
    .container {
        border-radius: 28px;
        padding: 28px 20px 30px 30px;
        margin: 0 16px;
    }

    .right {
        display: none;
    }

    .header {
        font-size: 16px;
    }

    .title {
        margin-top: 16px;
        font-size: 20px;
        font-weight: bold;
    }

    .summary {
        margin-top: 16px;
        font-size: 14px;
    }

    .highlight {
        width: 500px;
        height: 500px;
        top: -183px;
        left: -80px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1199px) {
    .container {
        border-radius: 28px;
        padding: 20px 30px 0 40px;
    }

    .header {
        font-size: 16px;
    }

    .title {
        margin-top: 16px;
        font-size: 18px;
        font-weight: bold;
    }

    .summary {
        margin-top: 16px;
        font-size: 14px;
    }

    img {
        position: relative;
        width: 220px;
        top: 30px;
    }

    .highlight {
        width: 600px;
        height: 600px;
        top: -183px;
        left: -80px;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media only screen and (min-width: 1200px) {
    .container {
        border-radius: 28px;
        padding: 28px 40px 0 60px;
    }

    .header {
        font-size: 18px;
    }

    .title {
        margin-top: 16px;
        font-size: 24px;
        font-weight: bold;
    }

    .summary {
        margin-top: 16px;
        font-size: 16px;
    }

    img {
        position: relative;
        width: 250px;
        top: 10px;
    }

    .highlight {
        width: 700px;
        height: 700px;
        top: -183px;
        left: -80px;
    }
}