.container {
    display: flex;
    border-radius: 28px;
    padding: 28px 40px 60px 60px;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
    min-height: 280px;
    // &:hover {
    //     transform: rotateZ(2deg);
    // }
}

.left {
    flex: 1;
    z-index: 10;
}

.right {
    flex: 1;
    text-align: center;
    z-index: 2;
}

.header {
    font-size: 18px;
}

.title {
    margin-top: 16px;
    font-size: 25px;
    font-weight: bold;
}

.summary {
    margin-top: 16px;
    font-size: 18px;
}

.actionBtn {
    margin-top: 40px;
}

.highlight {
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 100%;
    z-index: 1;
    top: -183px;
    left: -80px;
    animation: drift 20s infinite reverse;

    @keyframes drift {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }

}

.outerWrapper {
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
