.images {
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.4s;
    filter: brightness(50%) blur(2px);

    &:hover {
        filter: brightness(100%) blur(0px);
    }

    img {
        width: 300px;
        border-radius: 40px;
        position: relative;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    img:nth-child(1) {
        z-index: 7;
        left: 80px;
    }

    img:nth-child(2) {
        z-index: 8;
        top: 80px;
    }

    img:nth-child(3) {
        z-index: 9;
        right: 60px;
    }

    img:nth-child(4) {
        z-index: 10;
        top: 80px;
        right: 100px;
    }

    @keyframes floating {
        0% {
            transform: translate(0, 0px);
        }

        50% {
            transform: translate(0, 15px);
        }

        100% {
            transform: translate(0, -0px);
        }
    }
}

.label {
    position: absolute;
    z-index: 11;
    display: flex;
    justify-content: center;

    div:nth-child(1) {
        position: relative;
    }

    div:nth-child(2) {
        position: relative;
        color: #FFF38A;
    }
}

@media only screen and (max-width: 800px) {
    .label {
        div:nth-child(1) {
            font-size: 60px;
            letter-spacing: -5px;
            top: 80px;
            left: 140px;
        }

        div:nth-child(2) {
            font-size: 80px;
            letter-spacing: -5px;
            top: 120px;
        }
    }

    .images {
        img {
            width: 30vw;
            border-radius: 40px;
        }
    
        img:nth-child(1) {
            left: 80px;
        }
    
        img:nth-child(2) {
            top: 80px;
        }
    
        img:nth-child(3) {
            right: 60px;
        }
    
        img:nth-child(4) {
            top: 80px;
            right: 100px;
        }
    }
}

@media only screen and (min-width: 801px) and (max-width: 1199px) {
    .label {
        div:nth-child(1) {
            font-size: 70px;
            letter-spacing: -5px;
            top: 80px;
            left: 140px;
        }

        div:nth-child(2) {
            font-size: 80px;
            letter-spacing: -5px;
            top: 140px;
            left: -10px;
        }
    }

    .images {
        img {
            width: 25vw;
            border-radius: 40px;
        }
    
        img:nth-child(1) {
            left: 80px;
        }
    
        img:nth-child(2) {
            top: 80px;
        }
    
        img:nth-child(3) {
            right: 60px;
        }
    
        img:nth-child(4) {
            top: 80px;
            right: 100px;
        }
    }
}


@media only screen and (min-width: 1200px) {
    .label {
        div:nth-child(1) {
            font-size: 90px;
            letter-spacing: -5px;
            top: 80px;
            left: 140px;
        }

        div:nth-child(2) {
            font-size: 110px;
            letter-spacing: -5px;
            top: 150px;
        }
    }
    .images {
        img {
            width: 300px;
            border-radius: 40px;
        }
    
        img:nth-child(1) {
            left: 80px;
        }
    
        img:nth-child(2) {
            top: 80px;
        }
    
        img:nth-child(3) {
            right: 60px;
        }
    
        img:nth-child(4) {
            top: 80px;
            right: 100px;
        }
    }
}