.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row {
    position: relative;
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    &:nth-child(2) {
        &:hover {
            color: rgb(255, 139, 89);
        }
    }
    &:nth-child(4) {
        &:hover {
            color: rgb(255, 245, 156);
        }
    }
}

.highlightBox {
    display: flex;
    align-items: center;
    justify-content: center;
    div:nth-child(1) {
        animation: pulse 5s infinite reverse;

        span {
            color: #FFEA29;
        }
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 5px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 36px -3px #ae7bff;
    }
    50% {
        box-shadow: 0px 0px 90px -40px #ae7bff;
    }
    100% {
        box-shadow: 0px 0px 36px -3px #ae7bff;
    }
}

@media only screen and (max-width: 800px) {
    .rowGroup {
        line-height: 57px;
        text-align: center;
    }
    .row {
        &:nth-child(1) {
            font-size: 55px;
            left: 0;
    
            .pill {
                position: absolute;
            }
        }
        &:nth-child(2) {
            font-size: 75px;
            left: 0;
            &:hover {
                color: rgb(255, 139, 89);
            }
        }
        &:nth-child(3) {
            font-size: 60px;
            left: 0;
        }
        &:nth-child(4) {
            font-size: 55px;
            left: 0;
            &:hover {
                color: rgb(255, 245, 156);
            }
        }
    }

    .highlightBox {
        div:nth-child(1) {
            border-radius: 28px;
            width: 350px;
            padding: 20px;
            box-shadow: 0px 0px 36px -3px #ae7bff;
            font-size: 14px;
            position: relative;
            top: 20px;
        }
    }
}

@media only screen and (min-width: 801px) and (max-width: 1199px) {
    .rowGroup {
        line-height: 60px;
        text-align: center;
    }
    .row {
        &:nth-child(1) {
            font-size: 50px;
            left: -30px;
    
            .pill {
                position: absolute;
            }
        }
        &:nth-child(2) {
            font-size: 70px;
            &:hover {
                color: rgb(255, 139, 89);
            }
        }
        &:nth-child(3) {
            font-size: 55px;
            left: 80px;
        }
        &:nth-child(4) {
            font-size: 50px;
            left: 10px;
            &:hover {
                color: rgb(255, 245, 156);
            }
        }
    }

    .highlightBox {
        div:nth-child(1) {
            border-radius: 28px;
            width: 450px;
            padding: 20px;
            box-shadow: 0px 0px 36px -3px #ae7bff;
            font-size: 16px;
            position: relative;
            top: 20px;
        }
    }
}


@media only screen and (min-width: 1200px) {
    .rowGroup {
        line-height: 72px;
        text-align: center;
    }
    .row {
        &:nth-child(1) {
            font-size: 70px;
            left: -30px;
    
            .pill {
                position: absolute;
            }
        }
        &:nth-child(2) {
            font-size: 90px;
            &:hover {
                color: rgb(255, 139, 89);
            }
        }
        &:nth-child(3) {
            font-size: 75px;
            left: 80px;
        }
        &:nth-child(4) {
            font-size: 70px;
            left: 10px;
            &:hover {
                color: rgb(255, 245, 156);
            }
        }
    }

    .highlightBox {
        div:nth-child(1) {
            border-radius: 28px;
            width: 450px;
            padding: 20px;
            box-shadow: 0px 0px 36px -3px #ae7bff;
            font-size: 16px;
            position: relative;
            top: 20px;
        }
    }
}